<div class="top text-center hidden-xs">
  <p class="small text-uppercase">
    <a class="small" href="#">CUNY Brooklyn College</a>
  </p>
</div>

<div class="container">
  <ul class="list-inline list-unstyled text-right">
    <div class="identity pull-left list-unstyled list-inline">
      <li class="brand">
        <a href="/">
          <img src="{{ site.url }}/assets/images/brand.svg" alt="..."/>
        </a>
      </li>
      <li class="logo">
        <a href="/">
          <img src="{{ site.url }}/assets/images/logo.svg" alt="..."/>
          <p class="small text-left">
            Blacks & Latinxs In C.S
          </p>
        </a>
      </li>
    </div>

    <div class="navigation list-inline hidden-xs text-uppercase">
      {% for link in site.data.en.navigation.links %}
      <li>
        <a class="link {% if page.url == link[1] %}active{% endif %}" href="{{ link[1] }}">
          {{ link[0] }}
        </a>
      </li>
      {% endfor %}
    </div>
  </ul>
</div>
