@import "variables";

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin gradient-background($value) {
  background: -webkit-#{$value};
  background: -moz-#{$value};
  background: -ms-#{$value};
  background: -o-#{$value};
  background: $value;
}
@mixin optimize($key, $arg) {
  -webkit-#{$key}: $arg;
  -moz-#{$key}: $arg;
  -ms-#{$key}: $arg;
  -o-#{$key}: $arg;
  $key: $arg;
}

@mixin screen-md-up {
  @media only screen and (min-width: $screen-md + .001px) { @content; }
}
