@import "helpers";

#header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background: $header-background-color;
  .container {
    padding: $gutter;
    max-width: $theme-max-width;
  }
  ul {
    margin: 0;
    overflow: auto;
  }
}

#header {
  // BRAND & LOGO ----------------------------
  .brand {
    padding: 0;
    img { height: $header-height-dk; }
  }
  .logo {
    vertical-align: top;
    img { height: $header-height-dk - 20px; }
    p { color: $header-font-color; margin: 4px 0 0;  }
  }

  // Navigation ------------------------------
  .navigation {
    li {
      line-height: $header-height-dk - 10px;
      margin-left: 10px;
      margin-right: 10px;
      &:nth-child(1n) {
        .active:before { width: 100%; background: $peach; }
        .link:hover, .active { color: $peach; &:before { background: $peach; } }
      }
      &:nth-child(2n) {
        .active:before { width: 100%; background: $aqua; }
        .link:hover, .active { color: $aqua; &:before { background: $aqua; } }
      }
      &:nth-child(3n) {
        .active:before { width: 100%; background: $coral; }
        .link:hover, .active { color: $coral; &:before { background: $coral; } }
      }
      &:nth-child(4n) {
        .active:before { width: 100%; background: $navy; }
        .link:hover, .active { color: $navy; &:before { background: $navy; } }
      }
    }
    .link {
      color: $header-font-color;
      position: relative;
      padding-bottom: 10px;
      @include transition(color $fast);
      &:before {
        content: "";
        left: 0;
        bottom: 0;
        width: 3px;
        height: 3px;
        position: absolute;
        background: $header-font-color;
        @include transition(background, width $fast);
      }
      &:hover:before { width: 100%; }
    }
  }
}
