@import "header";

.section {
  .section-header, .section-body, .section-footer {
    padding-top: $gutter;
    padding-bottom: $gutter;
    .container { max-width: $theme-max-width; }
  }
  .section-header {
    .title { font-size: 1.5em; }
  }
  .section-body {
    .title { margin-top: 0; }
  }
  .section-footer {
    .title { margin-top: $gutter; margin-bottom: $gutter; }
  }
  hr { border-color: transparent; }
}


// ============================
//  HOME
// ============================
.page-home {
  .section-one {
    background: url("../images/bcc_campus.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    .section-footer {
      background: $peach;
      color: white;
    }
  }
}

// ============================
//  ABOUT
// ============================
.page-about {
  .section-one {
    .section-header {
      background: $aqua;
      color: white;
    }
  }
}

// ============================
//  PROGRAMS
// ============================
.page-programs {
  .section-one {
    .section-header {
      background: $coral;
      color: white;
    }
  }
}

// ============================
//  RESOURCES
// ============================
.page-resources {
  .section-one {
    .section-header {
      background: $navy;
      color: white;
    }
  }
}

// ============================
//  CALENDAR
// ============================
.page-calendar {
  .section-one {
    .section-header {
      background: $peach;
      color: white;
    }
  }
}
