<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include head.html %}
  </head>

  <body class="{% if page.title %}page-{{ page.title | replace: " ", "-" }}{% endif %}">
    <div id="wrap">
      <header id="header">
        {% include header.html %}
      </header>

      <main id="main">
        {{ content }}
      </main>

      <footer id="footer">
        {% include footer.html %}
      </footer>
    </div><!-- end #wrap -->

    <script type="text/javascript" src="{{ site.url }}/assets/javascripts/slick.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/javascripts/modernizr-custom.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/javascripts/theme.js"></script>

  </body>
</html>
